# Convex
# Source: https://convex-better-auth.netlify.app/#getting-started
SITE_URL=****
CONVEX_DEPLOYMENT=****
NEXT_PUBLIC_CONVEX_URL=****
NEXT_PUBLIC_CONVEX_SITE_URL=****

# BetterAuth
# Source: https://convex-better-auth.netlify.app/framework-guides/next
BETTER_AUTH_SECRET=****

# Google
# Source: https://console.cloud.google.com/auth/clients
GOOGLE_CLIENT_ID=****
GOOGLE_CLIENT_SECRET=****

# Polar
# Source: https://docs.polar.sh/integrate/sdk/adapters/better-auth
POLAR_ACCESS_TOKEN=****
POLAR_PRODUCT_ID_PRO=****
POLAR_WEBHOOK_SECRET=****

# Vercel 
# Source: https://vercel.com/docs/ai-gateway/getting-started
AI_GATEWAY_API_KEY=****

# Notion
NOTION_TOKEN=****
NOTION_DATABASE_ID=****