# Dependencies
node_modules

# Next.js
.next

# Production
build

# Miscellaneous
.DS_Store

# Keep environment variables out of version control
.env.*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Bun
bun.lock
.env.local
