@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: 0.5rem; 
	--radius-md: 0.625rem; 
	--radius-lg: 1rem; 
	--radius-xl: 1.125rem; 
	--radius-2xl: 1.25rem; 
	--radius-3xl: 1.5rem; 
	--radius-4xl: 1.75rem; 
	--ease-snappy: cubic-bezier(0.32, 0.72, 0, 1);
	--font-mono: var(--font-geist-mono);
	--font-sans: var(--font-geist);
	--container-8xl: 96rem;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-message: var(--message);
	--color-message-foreground: var(--message-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-destructive: var(--destructive);
	--color-destructive-border: var(--destructive-border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-selection: var(--selection);
	--color-selection-foreground: var(--selection-foreground);
	--color-avatar: var(--avatar);
	--color-avatar-foreground: var(--avatar-foreground);
	--color-interactive: var(--interactive);
	--color-interactive-foreground: var(--interactive-foreground);
}

:root {
	--background: oklch(100% 0 0);
  --foreground: oklch(26.9% 0 0);
  --accent: oklch(97% 0 0);
  --accent-foreground: oklch(26.9% 0 0);
	--primary: oklch(26.9% 0 0);
	--primary-foreground: oklch(100% 0 0);
	--secondary: oklch(96% 0 0);
	--secondary-foreground: oklch(26.9% 0 0);
	--muted: oklch(96% 0 0);
	--muted-foreground: oklch(63% 0 0);
	--ring: oklch(70% 0 0);
	--input: oklch(85% 0 0);
	--border: oklch(92.2% 0 0);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(26.9% 0 0);
	--message: oklch(96% 0 0);
	--message-foreground: oklch(26.9% 0 0);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(26.9% 0 0);
	--sidebar: oklch(100% 0 0);
	--sidebar-ring: oklch(70% 0 0);
	--sidebar-foreground: oklch(26.9% 0 0);
	--sidebar-border: oklch(90% 0 0);
	--sidebar-accent: oklch(97% 0 0);
	--sidebar-accent-foreground: oklch(26.9% 0 0);
	--sidebar-primary: oklch(26.9% 0 0);
	--sidebar-primary-foreground: oklch(100% 0 0);
	--destructive: oklch(64.4% 0.227 27 / 10%);
	--destructive-foreground: oklch(64.4% 0.227 27);
	--selection: oklch(53% 0.190 280 / 10%);
  --selection-foreground: oklch(53% 0.190 280);
	--avatar: oklch(67% 0.175 275);
	--avatar-foreground: oklch(100% 0 0);
}

.dark {
	--background: oklch(20.5% 0 0);
  --foreground: oklch(100% 0 0);
  --accent: oklch(27% 0 0);
  --accent-foreground: oklch(100% 0 0);
	--primary: oklch(100% 0 0);
	--primary-foreground: oklch(20.5% 0 0);
	--secondary: oklch(37% 0 0);
	--secondary-foreground: oklch(97% 0 0);
	--muted: oklch(27% 0 0);
	--muted-foreground: oklch(55.5% 0 0);
	--ring: oklch(70% 0 0);
	--input: oklch(85% 0 0);
	--border: oklch(37% 0 0);
	--card: oklch(27% 0 0);
	--card-foreground: oklch(92.2% 0 0);
	--message: oklch(27% 0 0);
	--message-foreground: oklch(100% 0 0);
	--popover: oklch(27% 0 0);
	--popover-foreground: oklch(97% 0 0);
	--sidebar: oklch(20.5% 0 0);
	--sidebar-ring: oklch(70% 0 0);
	--sidebar-foreground: oklch(92.2% 0 0);
	--sidebar-border: oklch(30% 0 0);
	--sidebar-accent: oklch(27% 0 0);
	--sidebar-accent-foreground: oklch(92.2% 0 0);
	--sidebar-primary: oklch(15% 0 0);
	--sidebar-primary-foreground: oklch(92.2% 0 0);
	--destructive: oklch(64.4% 0.227 27 / 10%);
	--destructive-foreground: oklch(64.4% 0.227 27);
	--selection: oklch(53% 0.190 280 / 10%);
  --selection-foreground: oklch(53% 0.190 280);
	--avatar: oklch(67% 0.175 275);
	--avatar-foreground: oklch(92.2% 0 0);
}

[data-theme="pink"] {
	--primary: oklch(72.2% 0.198 354);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(95.3% 0.0288 347);
	--message-foreground: oklch(31.4% 0.0745 354);
}

.dark[data-theme="pink"] {
	--primary: oklch(64% 0.194 356);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(49% 0.129 353);
	--message-foreground: oklch(97.7% 0.0134 348);
}

[data-theme="blue"] {
	--primary: oklch(68.2% 0.173 251);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(95.7% 0.022 244);
	--message-foreground: oklch(27.4% 0.0804 251);
}

.dark[data-theme="blue"] {
	--primary: oklch(52.8% 0.172 255);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(36.9% 0.115 253);
	--message-foreground: oklch(98.3% 0.00854 248);
}

[data-theme="orange"] {
	--primary: oklch(69.6% 0.193 42.6);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(94.4% 0.0324 52.3);
	--message-foreground: oklch(30.3% 0.0717 51);
}

.dark[data-theme="orange"] {
	--primary: oklch(63% 0.189 41.5);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(46.6% 0.129 43.1);
	--message-foreground: oklch(98.3% 0.00854 248);
}

[data-theme="green"] {
	--primary: oklch(62.1% 0.18 148);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(94.3% 0.0354 160);
	--message-foreground: oklch(29.5% 0.0794 151);
}

.dark[data-theme="green"] {
	--primary: oklch(62.1% 0.179 148);
	--primary-foreground: oklch(100% 0 0);
	--message: oklch(45.5% 0.129 149);
	--message-foreground: oklch(97.3% 0.0173 159);
}

.bluesky {
	--border: oklch(88.8% 0.0123 248);
	--background: oklch(100% 0 0);
	--foreground: oklch(16.7% 0.0124 254);
	--muted: oklch(98.2% 0.00171 248);
	--muted-foreground: oklch(44.8% 0.0432 249);
	--selection-foreground: oklch(62.6% 0.205 255);
	--accent: oklch(96.3% 0.00343 248);
	--accent-foreground: oklch(61.1% 0.0465 251);
}

.dark .bluesky {
	--background: oklch(23.1% 0.0211 252);
	--accent: oklch(27.7% 0.0287 253);
	--border: oklch(36.4% 0.0389 249);
	--foreground: oklch(96.3% 0.00343 248);
	--muted: oklch(27.7% 0.0287 253);
	--muted-foreground: oklch(71.4% 0.0332 248);
}

.threads {
	--background: oklch(98.5% 0 0);
	--foreground: oklch(0% 0 0);
	--input: oklch(0% 0 0 / 15%);
	--border: oklch(88.5% 0 0);
	--card: oklch(100% 0 0);
	--muted-foreground: oklch(68.3% 0 0);
	--shadow-lg: 0 0 12px 0 oklch(0 0 0 / 4%);
	--text-base: 0.9375rem;
	--text-base--line-height: 1.3125rem;
	--radius-3xl: 1.5rem;
	--primary: oklch(0% 0 0);
	--primary-foreground: oklch(100% 0 0);
}

.dark .threads {
	--background: oklch(14.5% 0 0);
	--foreground: oklch(96.9% 0 248);
	--input: oklch(96.9% 0 248 / 15%);
	--border: oklch(29.7% 0 0);
	--card: oklch(20.9% 0 0);
	--muted-foreground: oklch(56.9% 0 0);
	--shadow-lg: 0 0 12px 0 oklch(0 0 0 / 4%);
	--text-base: 0.9375rem;
	--text-base--line-height: 1.3125rem;
	--radius-3xl: 1.5rem;
	--primary: oklch(100% 0 0);
	--primary-foreground: oklch(0% 0 0);
}

.x {
	--background: oklch(100% 0 0);
	--foreground: oklch(18.8% 0.0128 249);
	--border: oklch(96.1% 0.00448 214);
	--selection-foreground: oklch(66.7% 0.161 246);
	--muted: oklch(98.8% 0.000000000000000663 0);
	--muted-foreground: oklch(49.4% 0.0294 241);
	--text-base: 0.9375rem;
	--text-base--line-height: 1.25rem;
	--text-sm: 0.8125rem;
}

.dark .x {
	--background: oklch(0% 0 0);
	--foreground: oklch(93.3% 0.00255 229);
	--border: oklch(31.8% 0.00772 240);
	--selection-foreground: oklch(66.7% 0.161 246);
	--muted: oklch(13.4% 0.0000000000000000703 0);
	--muted-foreground: oklch(56.3% 0.00981 248);
	--text-base: 0.9375rem;
	--text-base--line-height: 1.25rem;
	--text-sm: 0.8125rem
}

.linkedin {
	--background: oklch(96.2% 0.00574 84.6);
	--foreground: oklch(21.3% 0 0);
	--muted-foreground: oklch(51% 0 0);
	--border: oklch(90% 0.00551 95.1);
	--input: oklch(93.1% 0.000000000000000765 0);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(21.3% 0 0);
	--accent: oklch(96.4% 0.000000000000000446 0);
	--accent-foreground: oklch(0% 0 0 / 75%);
	--text-base: 0.875rem;
}

.dark .linkedin {
	--background: oklch(0% 0 0);
	--foreground: oklch(93.4% 0.00134 286);
	--muted-foreground: oklch(72.3% 0 220);
	--border: oklch(25.6% 0.000000000000000175 0);
	--input: oklch(34.7% 0.00664 248);
	--card: oklch(23.7% 0.00973 248);
	--card-foreground: oklch(93.4% 0.00134 286);
	--accent: oklch(29.6% 0.00841 256);
	--accent-foreground: oklch(100% 0 0 / 75%);
	--text-base: 0.875rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50 caret-primary;
	}
}
